/*Configuraciones generales*/
@import url(style.css);

.titulo-pagina{
    background-color: var(--negro-gris);
    color: var(--blanco);
    padding: 15px 30px;
}

.busqueda{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 30px;
    gap: 100px;
}

.busqueda img{
    width: 48px;
    height: 48px;
    border: 1px solid;
    border-radius: 50px;
    padding: 10px;
}

.calendario{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.calendario input{
    width: 50px;
    height: 50px;
    position: absolute;
    opacity: 40;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

main{
    display: flex;
    flex-direction: column;
    gap: 50px;
    justify-content: center;
    align-items: center;
}

.resultado{
    display: flex;
    flex-direction: row;
}

.partido{
    display: flex;
    flex-direction: column;
}

.partido header{
    width: auto;
    height: 40px;
}

.equipo{
    display: flex;
    justify-content: start;
    align-items: center;
    background: var(--blanco);
    height: auto;
    width: 600px;
    gap: 50px;
}

.equipo > * {
    margin-left: 30px;
}

.equipo img{
    width: 80px;
    height: 80px;
    padding: 10px;
}

table{
    background: var(--blanco);
    border-collapse: collapse;
}



th{
    background: var(--negro);
    color: var(--blanco);
    padding: 10px 20px;
}

td,th{
    text-align: center;
    font-family: var(--fuentePrincipal);
}