/*Pie de pagina*/
footer{
    background-color: var(--azul);
    color: var(--blanco);
    padding-top: 35px;
    margin-top: 20px;
}

.fo-nosotros{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 10px ;
    position: relative;
}

.siguenos{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.redes-sociales{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 100px;
}

.copyright{
    background-color: var(--negro);
    width: auto;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.copyright > h4{
    text-align: center;
}