:root {
  --azul: #141b4d;
  --rojo: #b31f2d;
  --blanco: #fff;

  --negro: #000000;
  --negro-gris: #343434;
  --gris: #575757;
  --gris-medio-claro: #696969;
  --gris-claro: #b0aeae;

  --fuentePrincipal: "Share";
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #ebebeb;
}

h1 {
  font-size: 32px;
  font-family: var(--fuentePrincipal);
  font-weight: bold;
}

h2 {
  font-size: 28px;
  font-family: var(--fuentePrincipal);
  font-weight: bold;
}

h3 {
  font-size: 24px;
  font-family: var(--fuentePrincipal);
  font-weight: bold;
}

h4 {
  font-size: 20px;
  font-family: var(--fuentePrincipal);
  font-weight: bold;
}

.italic {
  font-style: italic;
}

.bold {
  font-weight: bold;
}

p {
  font-family: var(--fuentePrincipal);
  font-size: 16px;
  line-height: 1.5;
  text-align: justify;
}

a {
  text-decoration: none;
  font-family: var(--fuentePrincipal);
  color: var(--negro);
}

ul {
  list-style: none;
}

li {
  font-family: var(--fuentePrincipal);
  font-size: 24px;
  line-height: 1.2;
  padding: 12px;
}

  
