:root{
    --text: "Indie Flower";
    --primary-color: #c52233;
    --secondary-color: #a7333f;
    --third-color: #4ce0b3;
}

*{
    box-sizing: border-box;
    margin: 0;
}

p{
    font-family: var(--text);
}

button{
    height: 50px;
    border:none;
    border-radius: 10%;
    background: red;
    color: white;
    font-family: var(--text);
    font-weight: bold;
    font-size: 16px;
    padding: 10px;
    text-align: center;
}

.header-background{
    background-image: url(./Presentacion-Inicial.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 85vh;
    width: 100vw;

    position: relative;
    transition: 
    background-image 0.6s ease,
    transform 0.6s ease,
    opacity 0.6s ease;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.20);
  }
  100% {
    transform: scale(1);
  }
}

.header-background__press{
    position:absolute;
    top: 30%;
    left: 40%;
    transform: translate(-50%,-50%);
    animation: pulse 1s ease-in-out infinite;


    cursor: pointer;
}

.letter-preview{
    background: linear-gradient(to bottom, #ba181b,#ff4d6d);
    display: flex;
    text-align:center;
    justify-content: center;
    height: 15dvh;
    
}

.letter-btn{
    color: white;
    font-family: var(--text);
    font-weight: bold;
    font-size: 48px;
    text-align: center;
    border-radius: 100%;
    margin-top: 10px;
}

.letter-expression{
    background: var(--primary-color);
    display: flex;
    align-items:center;
    justify-content: space-evenly;
}

.letter p{
    padding: 30px;
}

.letter-expression > p{
    color: white;
    font-family: Lobster;
    padding: 15px;
    text-align: center;
}

#bookmark{
    color: white;
    font-size: 32px;
    display:inline-block;
}

.carrusel {
  display: flex;
  gap: 20px;
  overflow-x: auto;
  padding: 40px;
}

.card {
  min-width: 280px;
  min-height: 200px;
  background: linear-gradient(135deg, var(--primary-color), var(--secondary-color));
  color: white;
  border-radius: 15px;
  padding: 20px;
  cursor: pointer;
  transition: all 0.4s ease;
}

.card-title {
  font-weight: bold;
  text-align: center;
  font-family: Lobster;
  color: white;
}

.card-content {
  max-height: 0;
  overflow: hidden;
  margin-top: 10px;
  transition: max-height 0.5s ease;
  font-size: 14px;
  opacity: 0.9;
  font-family: var(--text);
}

.card.active .card-content {
  max-height: 200px;
}

footer {
  text-align: center;
  padding: 20px;
  position: relative;
  font-family: var(--text);
  color: var(--secondary-color);
}

.marcador {
  width: 0%;
  height: 4px;
  background: linear-gradient(90deg, #ff4d6d, #ff8fa3);
  margin: 10px auto 0;
  border-radius: 10px;
  animation: aparecer 2s ease infinite;
}

@keyframes aparecer {
  to {
    width: 60%;
  }
}

#card-1 {
    background-image:
        linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
        url("./Carrusel-1.jpeg");
    background-size: cover;
}

#card-2 {
    background-image:
        linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
        url("./Carrusel-2.jpeg");
    background-size: cover;
    background-position: center;

}

#card-3 {
    background-image:
        linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
        url("./Carrusel-3.jpeg");
    background-size: cover;
}

#card-4 {
    background-image:
        linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
        url("./Carrusel-4.jpeg");
    background-size: cover;
}

#card-5 {
    background-image:
        linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
        url("./Carrusel-5.jfif");
    background-size: cover;
}

#card-6 {
    background-image:
        linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
        url("./Carrusel-6.jpeg");
    background-size: cover;
    background-position: center;
}

#card-7 {
    background-image:
        linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
        url("./Carrusel-7.jpeg");
    background-size: cover;
    background-position: center;
}